body {
      background-color: #F8F5F2;
      background-image: url('/img/fondo.avif');
      min-height: 100%;
      max-height: max-content;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    header {
      background-color: #6f4e37b0; /* Color café oscuro */
      color: white;
      padding-top: 20px;
    }
    header h1 {
      font-family: 'Georgia', serif;
      font-size: 2.5rem;
    }
    nav a {
      color: white !important;
      font-weight: bold;
    }
    nav a:hover {
      color: #D2B48C !important; /* Color beige al pasar el mouse */
      font-size: 1.2rem;
    }
    main {
      margin-top: 20px;
    }
    footer {
      padding: 10px 0;
      margin-top: 40px;
    }
    .btn-primary {
      background-color: #6F4E37;
      border-color: #6F4E37;
    }
    .btn-primary:hover {
      background-color: #D2B48C;
      border-color: #D2B48C;
    }
        /* Asegura que todas las imágenes tengan la misma proporción */
    .card-img-container {
        width: 100%;
        height: 300px; /* Ajusta la altura según tus necesidades */
        overflow: hidden;
    }

    .card-img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Recorta la imagen para ajustarse al contenedor */
    }
    .iconos-redes img {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      transition: transform 0.3s ease;
    }

    .iconos-redes img:hover {
      transform: scale(1.2);
    }

    .imagen-principal {
      max-width: 50%;
      height: auto;
      border-radius: 15px;
    }

    .main-container {
      background-color: #ffffffb1;
    }